In [108]:
import pandas as pd
import numpy as np

In [109]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [110]:
concrete_data.shape

(1030, 9)

In [111]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [112]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [113]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [114]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [115]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [116]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [117]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [118]:
n_cols = predictors_norm.shape[1] # number of predictors

In [119]:
import keras

In [120]:
from keras.models import Sequential
from keras.layers import Dense

In [121]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [123]:
# build the model
model = regression_model()

In [124]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=50, verbose=2)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 721 samples, validate on 309 samples
Epoch 1/50

2022-10-14 11:13:39.902860: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2022-10-14 11:13:39.914876: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2593900000 Hz
2022-10-14 11:13:39.915713: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x5591dd61da30 executing computations on platform Host. Devices:
2022-10-14 11:13:39.915771: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2022-10-14 11:13:40.087430: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

 - 0s - loss: 1659.9117 - val_loss: 1144.7588
Epoch 2/50
 - 0s - loss: 1539.4583 - val_loss: 1029.0527
Epoch 3/50
 - 0s - loss: 1336.1611 - val_loss: 847.6546
Epoch 4/50
 - 0s - loss: 1025.4476 - val_loss: 608.3106
Epoch 5/50
 - 0s - loss: 663.2281 - val_loss: 381.4660
Epoch 6/50
 - 0s - loss: 391.6579 - val_loss: 240.2482
Epoch 7/50
 - 0s - loss: 278.4396 - val_loss: 187.0265
Epoch 8/50
 - 0s - loss: 244.6252 - val_loss: 166.4649
Epoch 9/50
 - 0s - loss: 225.6800 - val_loss: 154.4689
Epoch 10/50
 - 0s - loss: 212.9982 - val_loss: 149.4054
Epoch 11/50
 - 0s - loss: 202.7134 - val_loss: 149.3385
Epoch 12/50
 - 0s - loss: 194.8190 - val_loss: 146.5144
Epoch 13/50
 - 0s - loss: 188.1430 - val_loss: 143.4655
Epoch 14/50
 - 0s - loss: 181.2785 - val_loss: 143.6463
Epoch 15/50
 - 0s - loss: 176.4867 - val_loss: 141.2477
Epoch 16/50
 - 0s - loss: 171.4746 - val_loss: 139.4956
Epoch 17/50
 - 0s - loss: 167.1387 - val_loss: 137.7596
Epoch 18/50
 - 0s - loss: 163.6046 - val_loss: 138.1017
Epoch 19/50
 - 0s - loss: 160.4765 - val_loss: 137.6324
Epoch 20/50
 - 0s - loss: 157.1561 - val_loss: 138.3743
Epoch 21/50
 - 0s - loss: 154.9060 - val_loss: 139.6697
Epoch 22/50
 - 0s - loss: 153.5443 - val_loss: 136.2121
Epoch 23/50
 - 0s - loss: 150.4841 - val_loss: 138.7805
Epoch 24/50
 - 0s - loss: 148.2981 - val_loss: 138.7392
Epoch 25/50
 - 0s - loss: 146.3158 - val_loss: 140.1473
Epoch 26/50
 - 0s - loss: 145.6213 - val_loss: 140.1936
Epoch 27/50
 - 0s - loss: 142.8104 - val_loss: 140.5694
Epoch 28/50
 - 0s - loss: 141.7698 - val_loss: 143.3417
Epoch 29/50
 - 0s - loss: 140.4339 - val_loss: 139.4280
Epoch 30/50
 - 0s - loss: 138.8169 - val_loss: 142.1820
Epoch 31/50
 - 0s - loss: 137.0206 - val_loss: 142.6097
Epoch 32/50
 - 0s - loss: 135.6442 - val_loss: 141.0653
Epoch 33/50
 - 0s - loss: 134.3169 - val_loss: 145.8122
Epoch 34/50
 - 0s - loss: 132.6972 - val_loss: 144.4463
Epoch 35/50
 - 0s - loss: 131.0707 - val_loss: 144.9551
Epoch 36/50
 - 0s - loss: 130.5831 - val_loss: 144.1237
Epoch 37/50
 - 0s - loss: 128.9898 - val_loss: 146.1070
Epoch 38/50
 - 0s - loss: 127.8780 - val_loss: 147.2165
Epoch 39/50
 - 0s - loss: 126.6406 - val_loss: 144.6406
Epoch 40/50
 - 0s - loss: 125.4792 - val_loss: 148.0392
Epoch 41/50
 - 0s - loss: 124.0692 - val_loss: 149.5318
Epoch 42/50
 - 0s - loss: 123.1658 - val_loss: 147.3502
Epoch 43/50
 - 0s - loss: 121.8378 - val_loss: 148.5087
Epoch 44/50
 - 0s - loss: 121.0543 - val_loss: 147.1595
Epoch 45/50
 - 0s - loss: 120.4029 - val_loss: 148.7742
Epoch 46/50
 - 0s - loss: 119.1034 - val_loss: 150.5808
Epoch 47/50
 - 0s - loss: 117.9526 - val_loss: 149.5841
Epoch 48/50
 - 0s - loss: 116.5796 - val_loss: 149.0284
Epoch 49/50
 - 0s - loss: 115.5421 - val_loss: 148.8021
Epoch 50/50
 - 0s - loss: 115.6395 - val_loss: 150.3297